@page
@model Lab5_6.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">C# laboratorijske vježbe</h1>
    <ul class="list-unstyled">
        <li>5. laboratorijska vježba</li>
        <li>6. laboratorijska vježba</li>
    </ul>
    <p class="lead">
        Anamarija Papić
        <br/>
        University Department of Professional Studies, University of Split
    </p>
</div>
